// This file contains SASS variable declarations for an alternate branding/color scheme

// Branding colors
$primary-color: #af7595;
$secondary-color: #1ac8ed;
$complementary-color: #8c2155;
$light-color: #aed4e6;
$dark-color: #5c1a1b;



$error-color: #f44336;
