// This file contains SASS variable declarations for a branding/color scheme

// Branding colors
$primary-color: #3772ff;
$secondary-color: #34d1bf;
$complementary-color: #d1345b;
$light-color: #efefef;
$dark-color: #070707;



$error-color: #f44336;